
.card{
    width: 18rem;
}

#myFile{
    margin-top: 40em;
}

#myCanvas{
    width: 100%;
    height:400px;
}

a{
    color: black;
}

.myMenu{
    margin-top: 1%;
    margin-bottom: 1%;
}

#myButton{
    margin-top: 5%;
    height: 4em;
}
